{% extends "ggSiteBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} - Homepage
{% endblock %}

{% block body %}
        <p>
        Bienvenu sur <b>guestgame.com</b>, votre organisateur de parties de jeux de plateau, jeux de
        rôle et autres.
        <br /><br />
        Le but de ce site, est de vous permettre d’<b>organiser</b> une partie de jeu chez vous, ou de
        <b>rejoindre</b> une partie que quelqu’un de votre région organise (un ami par exemple).
        <br /><br />
        Vous êtes ainsi en contact avec d’autres personnes qui partagent votre passion du jeu.
        </p>
        <br />
        <a class="btn btn-success btn-large"href="{{ path('party') }}">Trouver une partie</a>
{% endblock %}     

{% block script %}    
      {{ parent() }}    
{% endblock %}
