{% extends "ggSiteBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} - Homepage
{% endblock %}

{% block body %}
        <p>
        Bienvenu sur Guestgame, votre organisateur de parties de jeux de plateau, jeux de
        rôle et lan's.
        <br /><br />
        Guestgame vous offre deux options: <strong>organiser</strong> ou <strong>rejoindre</strong> une partie de jeu.
        <br /><br />
        Pour <strong>organisez</strong>, vous devez simplement renseigner quelques informations: la <em>date</em>, l'<em>heure</em> et le <em>lieu</em> de la partie, ainsi que votre <em>adresse email</em> afin que les personnes interessées puissent vous contacter. 
        <br /><br />
        Pour <strong>rejoindre une partie</strong>, c'est encore plus simple. Rendez vous dans le détail de la partie à laquelle vous voulez participer, et envoyez un message à l'organisateur.  
        <br /><br />
        Pour <strong>modifier</strong> ou <strong>annuler</strong> une partie, vous pouvez utiliser les liens reçus par email lors de la création de la partie.
        <br /><br />
        Bon jeu à tous !
        </p>
        <br />
        <a class="btn btn btn-success btn-large"href="{{ path('party') }}">Trouver une partie</a>
{% endblock %}     

{% block script %}    
      {{ parent() }}    
{% endblock %}
